<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MySnapChat</name>
    <description>
        An application that mimics Snapchat. It is developed as part of an academic project.
    </description>
    <author email="dev.mysnapchat@etu.u-bordeaux.fr" href="">
        PED MySnapchat Team 
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
