<div ng-if="userConnected">

	<div ng-if="receivedRequestList.length>0">
		<h3>Vous avez {{receivedRequestList.length}} nouvelle<span ng-if="receivedRequestList.length>1">s</span> demande<span ng-if="receivedRequestList.length>1">s</span> en attente :</h3>
		<div class="list-group row" style="width : 100%; max-width : 400px; padding-left : 10px;">
			
			<div class="list-group-item" ng-repeat="request in receivedRequestList">
				<strong>{{request.user.pseudo}}</strong>
				<a ng-click="declineRequest(request)" style="margin: -5px -10px 0px 5px; float : right;" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> Refuser</a>
				<a ng-click="acceptRequest(request)" style="margin: -5px 0px 0px 0px; float : right;" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Accepter</a>
			</div>

		</div><br />
	</div>

	<h3>Liste de vos amis :</h3>
	<div ng-if="friendList.length>0">
		<div class="list-group row" style="width : 100%; max-width : 400px; padding-left : 10px;">
			
			<div class="list-group-item" ng-repeat="friend in friendList">

			  <form class="vertical-form" style="height : 20px;">
			    <div class="form-group">
					<strong>{{friend.user.pseudo}}</strong>
					<a ng-click="deleteFriend(friend)" class="btn btn-xs btn-danger" style="float : right;"><span class="glyphicon glyphicon-remove"></span></a>
					<a href="#/chat/video/{{friend.user._id}}" class="btn btn-xs btn-success" style="float : right; margin-right : 20px;"><span class="glyphicon glyphicon-film"></span>  </a>
					<a href="#/chat/image/{{friend.user._id}}" class="btn btn-xs btn-warning" style="float : right; margin-right : 4px;"><span class="glyphicon glyphicon-picture"></span>  </a>
					<a href="#/chat/text/{{friend.user._id}}" id="text-{{friend.user.pseudo}}" class="btn btn-xs btn-info" style="float : right; margin-right : 4px;"><span class="glyphicon glyphicon-envelope"></span>  </a>
				</div>

			    <div class="form-group" ng-if="friend.user.description" style="color:grey">
			      {{friend.user.description}}
			    </div>
			  </form>

			</div><br /><br />
		</div>
	</div>
	
	<div ng-if="friendList.length===0">
		Vous n'avez aucun ami dans votre liste pour le moment.<br />
		Retrouvez dés à présent vos amis grâce au <a href="#/addfriend">formulaire de recherche d'amis</a>.<br /><br />
	</div>
	
	
	<div ng-if="sentRequestList.length>0">
		<h3>Demandes que vous avez effectué :</h3>
		<div class="list-group row" style="width : 100%; max-width : 400px; padding-left : 10px;">
			
			<div class="list-group-item" ng-repeat="request in sentRequestList">
				<strong>{{request.user.pseudo}}</strong>
			</div>

		</div><br />
	</div>
	
</div>

<div ng-if="!userConnected">
	<h3>Liste de vos amis</h3>
	Vous devez être connecté pour voir la liste de vos amis.
</div>
