npm-debug.log

client/logs/*
client/!.gitkeep
client/node_modules/
client/www/bower_components/
client/tmp
client/.DS_Store
client/.idea
client/npm-debug.log
client/platforms/
client/plugins/

server/data/
server/.modulusignore
server/node_modules/
server/npm-debug.log
server/mongod.sh
server/mongo.sh
server/npmStart.sh