
<nav class="navbar navbar-default" ng-controller="navBarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">MySnapChat</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <li><a href="#/register">S'enregistrer</a></li>
        <li><a href="#/connection">Connexion</a></li>
        <li><a href="#/settings">Settings</a></li>
        <li><a href="#/friendlist">Liste d'amis <span ng-if="notifications>0">(<b style="color : red;">{{notifications}}</b>)</span></a></li>

      </ul> 


      <ul class="nav navbar-nav navbar-right" ng-if="connected">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li><a href="#/settings" ng-click="">Paramètres</a></li>	
           <li><a href="#" ng-click="logout()">Deconnexion</a></li>
         </ul>
       </li>
     </ul>
   </div>
 </div>
</nav>
