<div  ng-init="d = getElapsedTime(message)" ng-controller="textOutputCtrl" oncontextmenu="return false;">
	<!--var dateNow = new Date(); var dateTmp = new Date(message.dateEnvoi);$scope.date = 1-->

	<li ng-init="showInit=false;showContinue=false" ng-click="showInit=true;mouseOver(message)" ng-mouseover="showContinue = true" ng-mouseleave="showContinue = false" ng-if="message.idEnvoyeur !== idUser"   class="left clearfix" style="padding-right : 80px;">
		<a  ng-copy="MessageCopy(message)"  style="text-decoration:none;">
			<span class="chat-img pull-left">
				<img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
			</span>
			<div class="chat-body clearfix">
				<div class="header">
					<strong class="primary-font">{{pseudoReceiver}}</strong> 
					<small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{d}} mins ago</small></small>
				</div>
				<div ng-show="showInit&&showContinue" >
					<p>{{message.donnes}}</p>
				</div>
			</div>
		</a>
	</li>

	<li ng-if="message.idEnvoyeur === idUser" class="right clearfix" style="padding-left : 80px;">
		<span class="chat-img pull-right">
			<img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
		</span>
		<div class="chat-body clearfix">
			<div class="header">
				<small class="text-muted pull-right"><span class="glyphicon glyphicon-time"></span>{{d}} mins ago</small>
				<strong class="pull-right primary-font">Moi</strong><br />
			</div>
			<p class="pull-right">{{message.donnes}}</p>

		</div>
	</li>
</div>