<div class="noselect"  oncontextmenu="return false">
	<ul class="chat" ng-repeat="message in messageList | orderBy : 'dateEnvoi'">
		<!--If this is a message sent TO me-->
		<li ng-if="message.idEnvoyeur!==idUser" ng-mouseleave="showMsg(false, message)" ng-mouseup="showMsg(false, message)" ng-mousedown="showMsg(true, message);" class="left clearfix" style="padding-right : 80px;">
			<span class="pull-left">
				<img ng-src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
			</span>
			<div class="chat-body clearfix">
				<div class="header">
					<strong class="primary-font">{{pseudoReceiver}}</strong> 
					<small class="text-muted"><span class="glyphicon glyphicon-time"></span>{{getElapsedTime(message)}} mins ago</small></small>
				</div>
				<div ng-copy="messageCopy(message)">
					<div ng-switch on ="message.type">
						<p ng-switch-when="text" ng-show="message.show">{{message.donnes}}</p>
					</div>
				</div>
			</div>
		</li>
		<!--If this is a message sent BY me-->
		<li ng-if="message.idEnvoyeur === idUser" class="right clearfix" style="padding-left : 80px;">
			<span class="pull-right">
				<img ng-src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
			</span>
			<div class="chat-body clearfix">
				<div class="header">
					<small class="text-muted pull-right"><span class="glyphicon glyphicon-time"></span>{{getElapsedTime(message)}} mins ago</small>
					<strong class="pull-right primary-font">Moi</strong><br />
				</div>
				<div ng-switch on ="message.type">
					<p ng-switch-when="text" class="pull-right">{{message.donnes}}</p>
					<img ng-switch-when="image" ng-src="data:image/jpeg;base64,{{message.donnes}}" class="img-thumbnail pull-right" alt="img" width="100" height="90" />
				</div>
			</div>
		</li>
	</ul>
</div>
<!-- Modal to show media : video or image-->
<div id="mediaModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div>
					<img ng-copy="messageCopy(message)" ng-src="data:image/png;base64,{{mediaToShow}}" class="img-responsive" style="display: block;margin-left: auto;margin-right: auto;"/>
				</div>
			</div>
		</div>
	</div>
</div>