
<div class="container-fluid row">
<strong>Temps de visualisation des médias :</strong>
<div class="dropdown-header">Temps compris entre 1 et 600 secondes</div>

<form name="time" class="form-horizontal" ng-controller="timeCtrl">

  <div class="form-group">
    <label class="control-label col-sm-1" for="text">Texte </label>
    <div class="col-sm-2">
      <input type="number" id="text" class="form-control"
	     min="1" max="600" ng-model="textTime" ng-required="true"></input>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-1" for="image">Image </label>
    <div class="col-sm-2">
      <input type="number" id="image" class="form-control" min="1" max="600"
	     ng-model="imageTime" ng-required="true"></input>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="video">Vidéo </label>
    <div class="col-sm-2">
      <input type="number" id="video" class="form-control" min="1" max="600"
	     ng-model="videoTime" ng-required="true"></input>
    </div>
  </div>
  
  <input type="button" class="btn btn-primary" value="Enregistrer"
	 ng-disabled="time.$invalid||time.$pristine" ng-click="update()"></input>

</form>
</div>
