<div class="container">

  <div class="page-header">
    <h2>Bienvenue sur MySnapChat</h2>
  </div>

  <div class="col-xs-12">

    <div class="container" ng-if="error">
      <label style="color:red">Le nom ou le mot de passe entrés ne correspondent pas. Veuillez réessayez.</label>
    </div>

 <form  name="connection" role="form" class="form-horizontal">
                <div class="form-group">
                <div class="col-md-8">
                  <input  placeholder="pseudo" ng-required="true" ng-model="pseudo" class="form-control" type="text"/>
                </div>
                </div>
                
                <div class="form-group">
                <div class="col-md-8">
                  <input name="password" placeholder="Mot de passe" class="form-control" type="password" ng-required="true" ng-model="password"/></div>
                </div>
                
                <div class="form-group">
                <div class="col-md-offset-0 col-md-8">
                  <input class="btn btn-success btn btn-success" type="submit" value="Connexion" ng-disabled="connection.$invalid" ng-click="login()"/></div>
                </div>
            
            </form>

   <br></br>

   <div class="jumbotron">
    <a href="#/register">Pas encore inscrit ? Faites le maintenant.</a>
  </div>


</div>

</div>


