<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat avec {{receiver}}
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a><span class="glyphicon glyphicon-refresh"></span>Option</a></li>
                        </ul>
					</div>
                </div>
                <div class="panel-body">
                    <ul class="chat" ng-repeat="message in messageList">
					
						<!-- Changer le chemin pour inclure la vue pour les messages message.type==='text'-->
						<span ng-if="true" ng-include="'textOutput/viewTextOutput.html'"></span>
						
						<!-- Changer le chemin pour inclure la vue pour les images -->
						<span ng-if="message.type==='image'" ng-include="'Chemin/vers/viewImage.html'"></span>
						
						<!-- Changer le chemin pour inclure la vue pour les vidéos -->
						<span ng-if="message.type==='video'" ng-include="'Chemin/vers/viewVideo.html'"></span>

						
                    </ul>
                </div>
                <div class="panel-footer">
				
                    <div ng-if="true" ng-include="'textInput/viewTextInput.html'">
                    </div>
					
					<div ng-if="false" ng-controller="imageCtrl" class="input-group">
                        Insérer le système d'envoi d'image ici !
                    </div>
					
					<div ng-if="false" ng-controller="videoCtrl" class="input-group">
                        Insérer le système d'envoi de vidéo ici !
                    </div>
					
                </div>
            </div>
        </div>
    </div>
</div>
